{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>COMMUNITY</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main' %}">For Single Life</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'foodlist' %}">음식 구매</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'foodreg' %}">음식 판매</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'community' %}">커뮤니티</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

 <div class="row">
<div class="col-lg-3">

        <h1 class="my-4">Community</h1>

        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
        </div>

      </div>
      <!-- Blog Entries Column -->
      <div class="col-lg-9">

        <h1 class="my-4">
        </h1>

        <!-- Blog Post -->

        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"></h2>
            <p class="card-text"><div id="data" class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Num.</th>
            <th>Subject</th>
            <th>Name</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
        <tr>

            <td data-label="Num." width=10%>{{ board.id }}</td>
            <td data-label="Subject" width=65%><form action="{{ board.id }}" method="POST" title="{{ board.subject}}"><a href="{{ board.id }}" value="{{ board.id }}">{{ board.subject }}</a></form></td>
            <td data-label="Name" width=15%>{{ board.name }}</td>
            <td data-label="View" width=10%>{{ board.view }}</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
              </p>
          </div>
          <div class="card-footer text-muted">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">검색</button>
              </span>
            </div>

            <a ></a>
          </div>
        </div>

<form action="write" method="POST">
    {% csrf_token %}
    <button name="write_post" value="write" class="btn btn-primary">Write Post</button>
</form>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
